<launch>
    <!-- set parameters -->
    <rosparam  file="$(find ros_deep_learning)/config/paths.yaml" command="load"/>

    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

    <!-- ros_imagenet nodelet -->
    <node name="imagenet_node"
          pkg="nodelet" type="nodelet"
          args="load ros_deep_learning/ros_imagenet standalone_nodelet"
          output="screen">
          <remap from="~imin" to="/image_raw"/>
    </node>

    <!-- gst_camera nodelet -->
    <node name="gst_camera"
          pkg="nodelet" type="nodelet"
          args="load ros_jetson_video/gst_camera standalone_nodelet">
          <remap from="~image_raw" to="/image_raw"/>
    </node>

</launch>
