<launch>

	<!-- VIDEO SOURCE -->
	<include file="$(find-pkg-share ros_deep_learning)/launch/video_source.ros2.launch"/>

	<!-- SEGNET -->
	<arg name="model_name" default="fcn-resnet18-mhp-512x320"/>

	<node pkg="ros_deep_learning" exec="segnet" output="screen">
		<remap from="/segnet/image_in" to="/video_source/raw"/>
		<param name="model_name" value="$(var model_name)"/>
	</node>

	<!-- VIDEO OUTPUT -->
	<include file="$(find-pkg-share ros_deep_learning)/launch/video_output.ros2.launch">
		<arg name="topic" value="/segnet/overlay"/>
	</include>

</launch>
