<launch>
	<arg name="input" default="/dev/video1" />
	<arg name="input-width" default="0" />
	<arg name="input-height" default="0" />
	<arg name="loop" default="0" />

	<arg name="output" default="display://0" />

	<node pkg="ros_deep_learning" exec="video_source" name="my_video_source" output="screen" args="$(var input) --input-width=$(var input-width) --input-height=$(var input-height) --loop=$(var loop)"/>

	<node pkg="ros_deep_learning" exec="video_output" name="my_video_output" args="$(var output)" output="screen">
		<remap from="/video_output/image_in" to="/video_source/raw"/>
	</node>

</launch>
