<launch>
	<arg name="input" default="csi://0"/>
	<arg name="input_width" default="0"/>
	<arg name="input_height" default="0"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>
	<arg name="input_latency" default="2000"/>
	
	<node pkg="ros_deep_learning" exec="video_source" output="screen">
		<param name="resource" value="$(var input)"/>
		<param name="width" value="$(var input_width)"/>
		<param name="height" value="$(var input_height)"/>
		<param name="codec" value="$(var input_codec)"/>
		<param name="loop" value="$(var input_loop)"/>
		<param name="latency" value="$(var input_latency)"/>
	</node>

</launch>
